/* About.css */
.about {
  display: flex;
  flex-direction: column;
  background-color: #58ABC1;
}

.about .group {
  height: 530px;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  left: -200px;
  padding: 20px;
}

.about .IMG {
  height: 440px; /* Adjusted height */
  width: calc(100% -350px); /* Adjusted width */
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  border-radius: 20px;
}
.card-2{
  width: 350px;
  left: -50px;
  height: 500px;
  transition: all 0.2s;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 7px 7px 0px 0px #0b2447;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: #f0edcf;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 5px 5px #027492;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}




@media screen and (max-width: 768px) {
  .about .group {
    height: 200px;
    margin-top: -500px;
    left: -200px; /* Adjust position for smaller screens */
  }

  .about .IMG {
    height: 50px; /* Adjust height for smaller screens */
    width: 20px; /* Adjust width for smaller screens */
    left: -400px; /* Adjust position for smaller screens */
    border-radius: 0; /* Remove border radius for smaller screens */
  }

  .about .cooking,
  .about .div,
  .about .text-wrapper-2,
  .about .text-wrapper-3,
  .about .text-wrapper-4,
  .about .text-wrapper-5,
  .about .group-2,
  .about .btn {
    position: static; /* Change position to static for smaller screens */
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0; /* Remove margin-top for smaller screens */
    margin-left: 0; /* Remove margin-left for smaller screens */
  }
}

  .about .overlap {
    height: 30px;
    left: 481px;
    position: absolute;
    top: 423px;
    width: 134px;
  }
  
  .about .cooking {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-family: 400;
    left: -30px;
    line-height: normal;
    position: absolute;
    bottom:55px;
    width: 107px;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    
  }
  
  .about .div {
    color:#f0edcf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    left: 450px;
    letter-spacing: 4.8px;
    line-height: normal;
    position: absolute;
    top: 275px;
    width: 135px;
  }
  
  .about .overlap-group {
    height: 30px;
    left: 481px;
    position: absolute;
    top: 362px;
    width: 134px;
  }
  
  .about .text-wrapper-2 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    line-height: normal;
    position: absolute;
    bottom:50px;
    white-space: nowrap;
    width: 111px;
  }
  
  .about .text-wrapper-3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 670px;
    line-height: normal;
    position: absolute;
    bottom: 188px;
    width: 83px;
    display: flex;
    align-items: center;
    
  }
  .about .text-wrapper-3 span {
    margin-left: 5px;
    
  }
  
 
  .about .text-wrapper-4 {
    color: #f0edcf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    left: 450px;
    letter-spacing: 4.8px;
    line-height: normal;
    position: absolute;
    top: 20px;
    width: 331px;
  }
  
  .about .text-wrapper-5 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 675px;
    line-height: normal;
    position: absolute;
    top: 360px;
    width: 162px;
  }
  
  

.about .btn {
    color: #000000;
    background-color: #027492;
    border-radius: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    left: 0;
    line-height: normal;
    position: absolute;
    bottom: 40px;
    white-space: nowrap;
    width: 155px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.about .btn:hover{
    background-color: #03a9f4;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
  
  .about .overlap-group-2 {
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  
  
  .about .text-wrapper-7 {
    color: #f0edcf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    left: 640px;
    letter-spacing: 4.8px;
    line-height: normal;
    position: absolute;
    top: 275px;
    width: 166px;
  }
  
  .about .group-wrapper {
    height: 265px;
    left: 429px;
    position: absolute;
    width: 407px;
  }
  
  .box .div-wrapper {
    background-color: #64c6df;
    height: 265px;
    border-radius: 265px;
  }
  .card {
    display: block;
    position: relative;
    max-width: 400px;
    max-height: 320px;
    background-color: #f2f8f9;
    font-size: 15px;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin-top: -500px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #f0edcf);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  .card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #027492);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
 
    
  
  
  
  .about .energetic-software {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    left: 0;
    line-height: normal;
    position: absolute;
    top: 80px;
    width: 376px;
  }
  .about button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    color: black;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    top: 100px;
    margin-left: -200px;
  }
  
  button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  button:hover::before {
    filter: blur(20px);
  }
  
  button:active {
    background: linear-gradient(32deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
  }
  @media screen and (max-width: 768px) {
    .about .group {
      height: 200px;
      margin-top: -500px;
      left: -200px; /* Adjust position for smaller screens */
    }
    
    .card-2 {
      height: 200px;
      width: 150px;
      margin-left: -50px;
      margin-top: 10px;
    }
    .about .btn{
     margin-top: -30px;
     margin-left: -40px;
     width: 120%;
     font-size: 13px;
    }
    .about .div{
      position: static; 
      width: 100%;
      font-size: 16px;
      text-align: center;
      margin: 0 auto;
      margin-top: 210px; 
      margin-left: -90px; 
    }
    .about .text-wrapper-7{
      margin-left: -595px;
      margin-top: 175px; 
      font-size: 16px;
    }
    .about .text-wrapper-2{
      margin-left: -560px;
      font-size: 12px;
      margin-bottom: -150px;

    }
    .about .text-wrapper-3{
      font-size: 12px;
      margin-left: -625px;
      margin-bottom: -480px;
   
    }
    .about .text-wrapper-5{
      font-size: 12px;
      margin-left: -660px;
      margin-top: 150px;

    }
    .about .cooking{
      margin-left: -540px;
      font-size: 12px;
      margin-bottom: -125px;
    }
    .card{
      position: static; 
      font-size: 11px;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      margin-left: -490px;
      margin-top: -235px;
      
    }
    .go-corner{
      margin-right: 693px;
      margin-top: -235px;
    }
    .card:before {
      right: -30px; /* Adjust position for smaller screens */
      top: -30px; /* Adjust position for smaller screens */
  }
   
  }