
 
  .projects {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #00ABB3;
   
    
  }
.project .group{
    height: 288px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1261px;
}
.imag {
  top: 170px;
  position: relative;
  right: 250px;
  width: 350px;
  height: 230px;
  border-radius: 15px;
  transition: transform 0.5s;
}
.projects .text-wrapper{
  color: #F0EDCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 200px;
  line-height: normal;
  position: absolute;
  top:210px;
  white-space: nowrap;
  width: 95px;
}

.layer {
  position: absolute;
  top:260px;
  left: 195px;
  width: 350px;
  height: 230px;
  background: linear-gradient(rgb(193, 252, 252),#8f8f8b);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.group:hover .layer {
  opacity: 1;
}

.layer p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex; 
  align-items: center; 
}

.layer a {
  margin-top: 150px;
  color: cyan;
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.group:hover .imag {
  transform: scale(1.1);
}

.project .group-2 {
  position: relative;
}
.group-2:hover .photo {
  transform: scale(1.1);
}


.photo {
  top:-70px;
  position: relative;
  left: 250px;
  width: 350px;
  height: 230px;
  border-radius: 15px;
  transition: transform 0.5s;
}
.projects .text-wrapper-1{
  color: #F0EDCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 700px;
  line-height: normal;
  position: absolute;
  top:210px;
  white-space: nowrap;
  width: 95px;
}


.layer-1 {
  position: absolute;
  top: 250px; 
  left: 695px;
  width: 350px;
  height: 230px;
  padding: 20px;
  background: linear-gradient(rgb(193, 252, 252),#8f8f8b);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust hover effect for the paragraph */
.group-2:hover .layer-1 {
  opacity: 1;
}

/* Update position and styles for the paragraph text */
.layer-1 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 50px;
  left: 20px;
  display: flex; 
  align-items: center; 
}

/* Update position and styles for the GitHub icon */
.layer-1 a {
  margin-top: 150px;
  color: #438192;
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}
.project .calculator-3{
  height: 288px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1261px;
}
.calculator {
  top: 20px;
  position: relative;
  right: 250px;
  width: 350px;
  height: 220px;
  border-radius: 15px;
  transition: transform 0.5s;
}
.projects .text-wrapper-2{
  color: #F0EDCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 195px;
  line-height: normal;
  position: absolute;
  top:550px;
  white-space: nowrap;
  width: 95px;
}

.layer-2 {
  position: absolute;
  top: 590px;
  left: 195px;
  width: 350px;
  height: 220px;
  background: linear-gradient(rgb(193, 252, 252),#8f8f8b);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.calculator-3:hover .layer-2 {
  opacity: 1;
}

.layer-2 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.layer-2 a {
  margin-top: 150px;
  color: #438192;
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.calculator-3:hover .calculator {
  transform: scale(1.1);
}

.group-4 {
  top: -80px;
  position: relative;
  right: -100px;
  width: 360px;
  height: 242px;
  border-radius: 15px;
  transition: transform 0.5s;
}
.Taxc{
  top: -130px;
  position: relative;
  right: -150px;
  width: 350px;
  height: 220px;
  border-radius: 15px;
  transition: transform 0.5s;
  
}

.projects .text-wrapper-3 {
  color: #F0EDCF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 150px;
  line-height: normal;
  position: absolute;
  top: -170px;
  white-space: nowrap;
  width: 95px;
}

.layer-3 {
  position: absolute;
  top: -130px;
  left: 150px;
  width: 350px;
  height: 220px;
  background: linear-gradient(rgb(193, 252, 252),#8f8f8b);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.group-4:hover .layer-3 { 
  opacity: 1;
}

.layer-3 p {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.layer-3 a {
  margin-top: 180px;
  color: #438192;
  text-decoration: none;
  font-size: 23px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.group-4:hover .Taxc { 
  transform: scale(1.1);
}
@media only screen and (max-width: 788px)  {
 .imag{
  margin-left: 200px;
 }
}
@media only screen and (max-width: 480px)  {

  
  .projects{
    max-width: 480px;

  }
.box {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
   gap: 56px;
}
.group{
  margin-left: 70px;
}

.imag{
  width: 300px;
  margin-left: 230px;
  margin-top: -50px;
}
.text-wrapper{
margin-top: -70px;
 margin-left: -150px;
}
.text-wrapper-1{
  margin-top: 200px;
  margin-left: -400px;
  }
.layer{
margin-left: -145px;
width: 300px;
margin-top: -80px;
}

.photo{
  margin-left: -200px;
  margin-top: 250px;
  width: 300px;
}
.layer-2{
  width: 300px;
  margin-top: 190px;
  margin-left: -145px;
}
.text-wrapper-1{
margin-left: -100px;
 
  }
  .calculator{
    margin-left: 300px;
    width: 300px;
    margin-top: -90px;
  }
  .text-wrapper-1{
    margin-top: 200px;
  }
  .group-4{
    margin-top: 250px;
    margin-left: -200px;
  }
  .Taxc{
    width: 300px;
  }
  .layer-3{
    width: 300px;
   
  }
  .projects .text-wrapper-2{
    margin-top: 190px;
    margin-left: -145px;
  }
  .layer-1{
   margin-right: 200px;
  }
  .layer-1{
    margin-left: -645px;
    width: 300px;
    margin-top: 230px;
      }
      .projects .text-wrapper-1{
        margin-left: -645px;
        margin-top: 235px;
      }
 }
 


