section{
    display: flex;
    flex-wrap: wrap
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px;
    margin-left: 90px;
    

}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 100px;
}
.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 50px;
}
.bar{
    font-size: 30px;
   

}
.Technical-bars .bar{
    margin-top: 40px 0;

}
.Technical-bars .bar:first-child{
    margin-top:0;  
}
.Technical-bars .bar:first-child{
    margin-top:5px;  
}
.Technical-bars .bar .info{
    margin-top:5px;  
}
.Technical-bars .bar .info span{
    font-size: 17px; 
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000 ;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scale(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scale(1);
    }

}
.Technical-bars .bar .progress-line span{

}
