.containers {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #58ABC1;
}

  .container1 {
    width: 550px;
    height: 500px;
    padding: 75px;
    margin-left: 120px;
    margin-top: 80px;
    
  }
  .skill-container{
    margin-top: -450px;
  }
  
  
  .bar {
    font-size: 23px;
  }
  
  .Technical-bars .bar {
    margin-top: 50px;
  }
  
  .Technical-bars .bar:first-child {
    margin-top: 0;
  }
  
  .Technical-bars .bar:last-child {
    margin-bottom: 0;
  }
  
  .Technical-bars .bar .info {
    margin-bottom: 10px;
  }
  
  .Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
  }
  
  .Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 8px;
    background-color:  #0ef;
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #000;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(1);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0, 5) forwards, load 1s ease-in-out forwards;
  }
  
  .progress-line.html span {
    width: 20%;
  }
  
  .progress-line.css span {
    width: 40%;
  }
  
  .progress-line.javascript span {
    width: 40%;
  }
  
  .progress-line.reactjs span {
    width: 50%;
  }
  
  .progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -20px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  
  .progress-line.html span::after {
    content: "80%";
  }
  
  .progress-line.css span::after {
    content: "70%";
  }
  
  .progress-line.progress-line.javascript span::after {
    content: "70%";
  }
  
  .progress-line.reactjs span::after {
    content: "50%";
  }
  
  .progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
  }
  
  @keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  @keyframes load {
    0% {
      width: 100%;
      left: 30px;
      right: auto;
    }
  
    70% {
      width: 100%;
    }
  
    100% {
      right: 0;
      left: auto;
    }
  }
  
  .text {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 750px;
    margin-bottom: 420px;
   

  }
  .ani:nth-child(1) {
    animation: ani1 2.1s ease-in-out 14s infinite;
  }
  
  @keyframes ani1 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(2) {
    animation: ani2 2.1s ease-in-out 12s infinite;
  }
  
  @keyframes ani2 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(3) {
    animation: ani3 2.1s ease-in-out 10s infinite;
  }
  
  @keyframes ani3 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(4) {
    animation: ani4 2.1s ease-in-out 8s infinite;
  }
  
  @keyframes ani4 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(5) {
    animation: ani5 2.1s ease-in-out 6s infinite;
  }
  
  @keyframes ani5 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(6) {
    animation: ani6 2.1s ease-in-out 4s infinite;
  }
  
  @keyframes ani6 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(7) {
    animation: ani7 2.1s ease-in-out 2s infinite;
  }
  
  @keyframes ani7 {
    50% {
      font-size: 40px;
    }
  }  
  .text-1 {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 30px;

  }
  .ani:nth-child(1) {
    animation: ani1 2.1s ease-in-out 14s infinite;
  }
  
  @keyframes ani1 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(2) {
    animation: ani2 2.1s ease-in-out 12s infinite;
  }
  
  @keyframes ani2 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(3) {
    animation: ani3 2.1s ease-in-out 10s infinite;
  }
  
  @keyframes ani3 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(4) {
    animation: ani4 2.1s ease-in-out 8s infinite;
  }
  
  @keyframes ani4 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(5) {
    animation: ani5 2.1s ease-in-out 6s infinite;
  }
  
  @keyframes ani5 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(6) {
    animation: ani6 2.1s ease-in-out 4s infinite;
  }
  
  @keyframes ani6 {
    50% {
      font-size: 40px;
    }
  }
  
  .ani:nth-child(7) {
    animation: ani7 2.1s ease-in-out 2s infinite;
  }
  
  @keyframes ani7 {
    50% {
      font-size: 40px;
    }
  }  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;
    scale: 0.7;
    top: -90px;
    left: 250px;
  }
  
  .central {
    display: flex;
    justify-content: center;
  
    align-items: center;
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0.5em 1em 1em cyan,
      -0.5em 0.5em 1em #F0EDCF,
      0.5em -0.5em 1em cyan,
      -0.5em -0.5em 1em  #F0EDCF;
  }
  
  .external-shadow {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0.5em 0.5em 3em cyan,
      -0.5em 0.5em 3em #F0EDCF,
      0.5em -0.5em 3em cyan,
      -0.5em -0.5em 3em #F0EDCF;
    z-index: 999;
    animation: rotate 20s linear ;
    background-color: #212121;
  }
  
  .intern {
    position: absolute;
    color: #F0EDCF;
    z-index: 9999;
  }
  
  .intern::before {
    content: "75%";
    animation: percent 10s ease-in-out ;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    75% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes percent {
    0% {
      content: '0%';
    }
  
    25% {
      content: '25%';
    }
  
    33% {
      content: '33%';
    }
  
    42% {
      content: '42%';
    }
  
    51% {
      content: '51%';
    }
  
    67% {
      content: '67%';
    }
  
    74% {
      content: '74%';
    }
  
    75% {
      content: '75%';
      animation-play-state: paused; 
    }
  }
  .loader-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: not-allowed;
    scale: 0.7;
    top: -50px;
    left: 250px;
  }
  
  .central-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    box-shadow: 0.5em 1em 1em cyan,
    -0.5em 0.5em 1em #F0EDCF,
    0.5em -0.5em 1em cyan,
    -0.5em -0.5em 1em  #F0EDCF;
  }
  
  .external-shadow-2 {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0.5em 0.5em 3em cyan,
      -0.5em 0.5em 3em #F0EDCF,
      0.5em -0.5em 3em cyan,
      -0.5em -0.5em 3em #F0EDCF;
    z-index: 999;
    animation: rotate 20s linear infinite;
    background-color: #212121;
  }
  
  .intern-2 {
    position: absolute;
    color: white;
    z-index: 9999;
  }
  
  .intern-2::before {
    content: "67%";
    animation: percent 10s ease-in-out ;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    67% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes percent {
    0% {
      content: '0%';
    }
  
    25% {
      content: '25%';
    }
  
    33% {
      content: '33%';
    }
  
    42% {
      content: '42%';
    }
  
    51% {
      content: '51%';
    }
  
    67% {
      content: '67%';
    }
  
    
    }
    .loader-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: not-allowed;
        scale: 0.7;
        top: -50px;
        left: 250px;
      }
      
      .central-3 {
        display: flex;
        justify-content: center;
      
        align-items: center;
        position: relative;
        width: 10em;
        height: 10em;
        border-radius: 50%;
        box-shadow: 0.5em 0.5em 3em cyan,
      -0.5em 0.5em 3em #F0EDCF,
      0.5em -0.5em 3em cyan,
      -0.5em -0.5em 3em #F0EDCF;
      }
      
      .external-shadow-3 {
        width: 10em;
        height: 10em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0.5em 0.5em 3em cyan,
        -0.5em 0.5em 3em #F0EDCF,
        0.5em -0.5em 3em cyan,
        -0.5em -0.5em 3em #F0EDCF;
        z-index: 999;
        animation: rotate 20s linear infinite;
        background-color: #212121;
      }
      
      .intern-3 {
        position: absolute;
        color: white;
        z-index: 9999;
      }
      
      .intern-3::before {
        content: "50%";
        animation: percent 10s ;
      }
      
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
      
        50% {
          transform: rotate(180deg);
        }
      
      }
      
      @keyframes percent {
        0% {
          content: '0%';
        }
      
        25% {
          content: '25%';
        }
      
        33% {
          content: '33%';
        }
      
        42% {
          content: '42%';
        }
      
        50% {
          content: '50%';
        }
        
    }
 .skill h4 {
       color: #F0EDCF;
       margin-left: 750px;
       margin-top: -300px;
       
    }
   
    h5{
    color: #F0EDCF;
     font-size: 15px;
     margin-top: -70px;
     margin-left: 750px;
       }
 .skill p{
font-size: 15px;
color: #F0EDCF;
margin-top: -30px;
margin-left: 750px;
 } 
 @media only screen and (max-width: 480px) {
  
  .containers {
    max-width: 470px;
  }

.container1 {
 margin-left: -10px;
font-size: 10px;
margin-top: 10px;
  }
  .bar{
    font-size: 20px;
  
  }
  .Technical-bars .bar{
    margin-top: 10px;
   
  }
  .Technical-bars .bar .progress-line {

    width: 70%; 
  }
  
  .Technical-bars .bar .progress-line span {
    margin-top: 0px;
    
  }
  .skill-container{
    margin-top: -20px;
    margin-left:-500px;
  }

  .containers {
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #58ABC1;
  }
  .text-1 {
   margin-left: 500px;

  }
}