/* src/components/style.css */
.home {
  display: flex;
  flex-direction: column;
  background-color: #58ABC1;
}

h3 {
  color: #F0EDCF;
  text-align: right;
  font-size: 40px;
  left: 700px;
  position: absolute;
  top: 120px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #F0EDCF;
}

h2 {
  color: #F0EDCF;
  text-align: right;
  font-size: 30px;
  left: 500px;
  position: absolute;
  top: 500px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #F0EDCF;
}

.home h4 {
  text-align: right;
  font-size: 20px;
  left: 560px;
  position: absolute;
  top: 550px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #F0EDCF;
}

.home p {
  text-align: right;
  font-size: 20px;
  left: 590px;
  position: absolute;
  top: 455px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px #F0EDCF;
}

.image {
  position: fixed;
  bottom: 400px;
  left: 550px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: floatAnimation 2s infinite alternate;
  transition: transform 0.3s ease-in-out;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes floatAnimation {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-30px);
  }
}

button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #f0edcf;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  top: 180px;
  left: 60px;
}

button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
      background-position: 0%;
  }

  100% {
      background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, cyan, #f0edcf, #ffeb3b, #03a9f4);
}

@media (max-width: 768px) {
  h3 {
      font-size: 0px;
      left: 100%;
      transform: translateX(-50%);
      top: 200px;
  }

  h2 {
      font-size: 30px;
      left: 70%;
      transform: translateX(-50%);
      top: 400px;
  }

  .home h4,
  .home p {
      font-size: 16px;
      left: 65%;
      transform: translateX(-50%);
      margin-top: -80px;
  }

  .image {
      bottom: 300px;
      left: 45%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
  }

  button {
      font-size: 12px;
      top: 170px;
      left: 120%;
      transform: translateX(-50%);
  }
}
