.navbar{
    background-color:#279EFF;
    height:  85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0 20px;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: #279EFF;
    width: 152px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
   
    transition: 850ms;
    z-index: 1;
}
.nav-menu.active{
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;

}
.nav-text a:hover{
    background-color:cyan;
}
.nav-menu-items{
    width: 100%;
}
.navbar-toggle{
    background-color:#279EFF;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
span{
    margin-left: 16px;
}
.social-icons {
    display: flex;
    justify-content: flex-end; 
}

.social-icon {
    margin-left: 10px; 
    color: #f0decf; 
    font-size: 24px;
}
@media screen and (max-width: 768px) {
    .navbar {
      height: auto;
      flex-direction: column;
      align-items: stretch;
    }
  
    .menu-bars {
      margin-left: auto;
      margin-right: 20px;
    }
  
    .nav-menu {
      width: 100%;
      left: -100%;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .navbar-toggle {
      height: 60px;
    }
  
    .social-icons {
      margin-top: 20px;
      justify-content: center;
    }
  }
  @media screen and (max-width: 480px) {
  
    .menu-bars {
      margin-left: auto;
      margin-right: 450px;
      margin-top:30px ;
    }
  
    .nav-menu {
      width: 37%;
      left: -80%;
    
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    .navbar-toggle {
      height: 40px;
    }
    
    .social-icons {
    margin-left: 260px;
    margin-top: -35px;
    justify-content: center;
    }
    
    .nav-text a{
        font-size: 15px;
        margin-top: 50px;
    }
  }
